.second_row .map .pm {
  font-size: larger;
  font-weight: 500;
  color: black;
}
.second_row .contact-form {
  background-image: url(../Assets/img/tiger.jpg);
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  border-radius: 20px;
}

.second_row .contact-form .p {
  font-size: larger;
  text-decoration: double; /* Adjusted font size for responsiveness */
  margin-bottom: 15px; /* Adjusted margin for responsiveness */
  font-weight: 800;
  color: #ffffff;
  text-align: center; /* Center text for responsiveness */
}

.second_row .contact-form input {
  width: 70%; /* Adjusted width for responsiveness */
  padding: 12px; /* Adjusted padding for responsiveness */
  margin-bottom: 15px; /* Adjusted margin for responsiveness */
  border: 1px solid blueviolet;
  border-radius: 5px;
  box-sizing: border-box;
}

.second_row .contact-form input[type="submit"] {
  background-color: #ffffff;
  color: #000000;
  font-size: medium;
  font-weight: 800;
  cursor: pointer;
}
.second_row .contact-form input[type="submit"]:hover {
  background-color: rgb(2, 143, 35);
  color: #000000;
  font-size: medium;
  font-weight: 900;
}
